@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class = "col-md-8 offset-md-2">
        <table class= "table">
            <thead class = "text-center">
                <tr class = "text-center">
                   
                    <th><input type="button" value="Cinemas" onclick="window.location='@Url.Action("Index","Cinemas")'"/></th>
                    <th><input type="button" value="Movies" onclick="window.location='@Url.Action("Index","Movies")'"/></th>
                    <th><input type="button" value="Producers" onclick="window.location='@Url.Action("Index","Producers")'"/></th>

                    <th><input type="button" value="Actors" onclick="window.location='@Url.Action("Index","Actors")'"/></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
